<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE checkstyle PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<checkstyle>
    <module name="Checker">
        <!-- Example Checkstyle rules -->
        <module name="TreeWalker">
            <module name="Header">
                <property name="header" value="/* Your header comment */"/>
                <property name="allowMultiple" value="true"/>
            </module>
            <module name="JavadocMethod"/>
            <module name="MethodName"/>
        </module>
    </module>
</checkstyle>
